@import "reset.css";

.wrapper {
  background-color: pink;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.preview {
  background: gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.board {
  background: gray;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.board .box {
  cursor: pointer;
}

@keyframes anim {
  0% {
    background-color: gray;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: gray;
  }
}

.box {
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  transition: 200ms;
}

.anim {
  animation: anim 500ms;
}

.actions{
    display: flex;
    align-items: center;
    width: 100%;
}

.actions-btns{
    margin-left: auto;
}